<header class="mainHder">
   <h1 class="siteTitle"><a href="/">Movie Library!</a></h1>
</header>

<h2 class="registerTitle">Register now!</h2>
<form id="signup_form">
  <input id="signup_username" type="text" placeholder="Enter a username..."/>
  <input id="signup_email" placeholder="Enter a valid email address..."/>
  <input id="signup_password"  placeholder="Enter a password..."/>
  <button id="signup_submit" type="submit" name="submit">Sign Up</button>
  <p class="clickTo">
    Already have an account? <a href="/logIn">Click here to Log in!</a>
  </p>
  <script src="register.js"></script>
</form>
